
/*IMAGE SIZES
#big_center #image_div img{max-width:700px;max-height:500px;}
*/
/*video player height
#big_center #video_div video{width:800px;height:600px;}
*/


#container #monitor {padding:0px;cursor:pointer;height:1080px;width:1920px;border:1px #000000 solid;background:url(../images/bg-noneco.jpg) no-repeat;}

#big_center {width:1568px;height:950px;float:left;position:relative;}
#big_center{padding:0px 0px 0px 0px;}
#big_center #video_div{height:606px;width:1568px;margin:100px auto 0px;position:absolute;display:block;}
#big_center #image_div {height:606px;width:1568px;margin:80px auto 0;position:absolute;display:block;text-align:center;}
#big_center #marquee_add {height:20%;min-height:20px;}

#big_center h2 {height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    width: 632px;}

#small_right {
	width:352px;
	height:938px;
	float:left;
	clear:right;
	text-align:Center;
	background:#061630;
}
#small_right h1{
	background:#061630;
	height:58px;
	margin:0px;
	padding:25px 0 0 0;
	font-size:50px;
	font-family:arial;
	font-weight:bold;
	color:#f9f300;
	text-decoration:underline;}
	
#small_right .counters{
	height:285px;
	border-bottom:1px #ff0103 solid;
	margin:0px auto;
}

#small_right .counters:nth-child(2){background:#ffff01;}
#small_right .counters:nth-child(3){background:#008001;}
#small_right .counters:nth-child(4){background:#fe0002;}

#small_right .counters:nth-child(4) h2{background:#061630;}

#small_right .counters:nth-child(4){border-bottom:0px;}
#small_right .counters h2{color:#f6f004;font-size:30px; padding: 20px 5px 5px 0;margin:0px;height:35px;background:#ff0006;}
#small_right .counters h3{color:#fffeff;font-size:40px;margin:15px 0px 0px 0px;font-weight:normal;font-family:Arial;}


#small_right .counters span {display:block;color:#ffffff;font-size:160px;height:120px;padding-top:70px;text-align:bottom;font-weight:normal;}

#big_footer{height:100px;width:1920px;clear:left;clear:both;padding-left:10px;} 

/*.marquee {
	animation: 50s linear 0s normal none infinite running marquee;
	 -webkit-animation: 50s linear 0s normal none infinite running marquee; /* Chrome, Safari, Opera 
    box-sizing: border-box;
    font-size: 80px;
    height: 100px;
    margin: 0px;
    overflow: hidden;
    padding-top: 40px;
    white-space: nowrap;
    width:1460px;
	color:#fefefc;
}*/

.marquee {
	width: 300px;
	overflow: hidden;
	font-size: 80px;
	height: 100px;
	margin: 0px;
	overflow: hidden;
	padding-top: 40px;
	white-space: nowrap;
	width:1460px;
	color:#fefefc;
  
}


/* Chrome, Safari, Opera 
@-webkit-keyframes marquee  {
    0%   { text-indent: 1000px }
    100% { text-indent: -400%; }
} 


@keyframes marquee {
    0%   { text-indent: 600px }
    100% { text-indent: -400%; }
}
*/ 
#currentNumber{
	display: block;
    font-size: 200px;
    text-align: center;
}

#currentNumber span{
    display: block;
    height: 140px;
    padding-top: 100px;
    width: 300px;
}

