#tbl-options {
	width:800px;
	margin:0px auto;
}

#tbl-options a {
	width:200px;
	height:200px;
	border:1px #000000 solid;
	display:block;
	float:left;
	margin-right:10px;
	text-decoration:none;
	text-align:center;
}