	<ul>
		<li><a href="<?php echo FULL_ADDR;?>">MAIN</a></li>
		<li><a href="<?php echo $this->link_name("users","");?>">USERS</a></li>
		<li><a href="<?php echo $this->link_name("counters","");?>">COUNTERS</a></li>
		<li><a href="<?php echo $this->link_name("adverts","");?>">MAIN ADS</a></li>
		<li><a href="<?php echo $this->link_name("marquee","");?>">MARQUEE</a></li>
	</ul>
	<p>Welcome <a href="<?php echo FULL_ADDR;?>?logout=logout" id="logout-link">logout</a>  Today is <?php echo date("F d,Y");?></p>
