<html>
<head>
	<meta http-equiv="Cache-Control" content="max-age=1800"/>
</head>
<body>
	<form method="post" name="frmNewUser" id="frmNewUser">
	<table cellpadding="3" cellspacing="0" width="100%">
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" id="user_name" size="30"></td>
		</tr>
		<tr>
			<td>username</td>
			<td><input type="text" name="username" id="user_username" maxlength="20" size="30"></td>
		</tr>
		<tr>
			<td>password</td>
			<td><input type="password" name="password" id="user_password" size="30"></td>
		</tr>
		<tr>
			<td>re-type password</td>
			<td><input type="password" name="re_password" id="user_re_password" size="30"></td>
		</tr>
		<tr>
			<td>classification</td>
			<td>
				<input type="checkbox" value="1" name="position"> Is Admin
			</td>
		</tr>
	</table>

	<p align="right"><input type="submit" name="btnSubmit" class="buttons" value="Add User"></p>
	<input type="hidden" name="user_id" id="user_id">
	</form>
</body>
</html>