.darken{
	font-weight:bold;
	font-size:20px;
}
.change-button {
	background: #cfcfcf;
  background-image: -webkit-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -moz-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -ms-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -o-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: linear-gradient(to bottom, #cfcfcf, #cccccc);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 3px 15px 5px 15px;
  text-decoration: none;
  font-weight:normal;
}

.change-button:hover{
		background: #FAFAFA;
  background-image: -webkit-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -moz-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -ms-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -o-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: linear-gradient(to bottom, #cccccc, #b7b7b7);
  text-decoration: none;
}
