<html>
<head>
	<meta http-equiv="Cache-Control" content="max-age=60"/>
</head>
<body>
	<form method="post" name="frmNewSalesman" id="frmAdd">
	<table cellpadding="3" cellspacing="0" width="100%">
		<tr>
			<td>Ad Name</td>
			<td><input type="text" name="adname" id="adname" size="30" autocomplete="off"></td>
		</tr>
		<tr>
			<td>Duration</td>
			<td><input type="text" name="duration" id="duration" size="5" autocomplete="off" value="30"> (in seconds)</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="checkbox" id="enabled" name="enabled" value="1">Enabled</td>
		</tr>
	</table>

	<p align="right" style="text-align:left;">
		<input type="button" name="btnbrowse" class="button" value="Media Folder" id="btnBrowse">
	</p>
	
	<p align="right"><div id="btnUpload">upload</div></p>
	</form>
</body>
</html>