<html>
<head>
	<meta http-equiv="Cache-Control" content="max-age=60"/>
</head>
<body>
	<form method="post" name="frmNewSalesman" id="frmAdd">
	<label for="bodyText">Marquee Text:</label>
	<textarea name="bodyText" rows="5" cols="40" name="bodyText" id="bodyText"></textarea>
	<p align="right" style="text-align:right;">
		<input type="submit" name="btnSubmit" class="button" value="Save Text" id="btnSave">
	</p>
	
	</form>
</body>
</html>