#cashier-box #button_box{
	width:700px;float:left;margin:0px auto;
}
#cashier-box #button_box button {
	height:120px;font-color:#000000;
	font-size:20px;cursor:pointer;width:400px;
}
#cashier-box #button_box p {
	font-size: 18px;
    margin-bottom: 10px;
    text-indent: 50px;
}
#cashier-box #button_box #counter{
	font-size:200px;
	height:100px;
	width:400px;
	float:left;
	margin-top:70px;
	display:block;
	text-align:Center;
}

#cashier-box #button_box #counter span{
	display:block;
	height:200px;	
}

#cashier-box #button_box #buzz_button{
	width:300px;
	float:left;
	clear:right;
	padding-top:20px;
}

#cashier-box #button_box #buzz_button input[type=button]{
	height:60px;
	display:block;
	cursor:pointer;
	margin-top:5px;
	font-weight:normal;
	font-size:18px;
}

#cashier-box #navigation_box {
	width:300px;
	float:left;
	height:100%;
	padding-top:50px;
}

#cashier-box #navigation_box ul{margin:0px;padding:0px}
#cashier-box #navigation_box ul li{padding:0px;list-style:none;padding:5px;margin-top:5px}
#cashier-box #navigation_box ul li a {
	border:1px #000000 solid;
	padding:10px;
	display:block;
	text-decoration:none;color:#00000;
	background:#DADADA;
}

#cashier-box #navigation_box ul li a:hover{
	background:#b7acac;
	color:#FFFFFF;
}

#buzz_button{display:none;}

