<div id="monitor" >
	<div id="big_center">
		<h2 id="ad_title"></h2>
		<div id="video_div">
			<video id="video_ads" height="650px" width= "1700px">
			  Your browser does not support the video tag.
			</video>
		</div>
		<div id="image_div">
			<img src="" id="image_ads" style="max-width:1700px;max-height:650px" />
		</div>
		
	</div>
	<div id="small_right">	
		<h1>Now Serving</h1>
		<?php foreach($counters as $counter) {  ?>
		<div class="counters" id="counterBox-<?php echo $counter['counter_id'];?>">
			<h2><?php echo $counter['title'];?></h2>
			<h3></h3>
			<span id="counter-<?php echo $counter['counter_id'];?>"></span>
		</div>	
		<?php } ?>		
		<!-- <input type="button" value="NEXT MEDIA" onclick = "adLoop();"> -->
	</div>	
	<div id="big_footer"><p class="marquee"></p></div>
</div>
 <audio id="buzzer" >
	Your browser does not support HTML5 audio.
</audio>
