#btnBrowse {cursor:pointer;z-index:99999;}
.data_table tr td:nth-child(2){text-align:left;}
.holder {cursor:move;}
 tr td:nth-child(2){text-align:left;}
 
 #browserCenter {height:90%;overflow:scroll;}
 #browserCenter a{display:inline-block;margin-right:5px;}
 #browseDiv a{display:block;height:40px;margin:5px 0px 5px 0px;padding:5px;;text-decoration:none;width:95%;overflow:hidden;}
 #browseDiv a img{max-height:40px;max-width:40px}
 #browserCenter a span {display:inline-block;}
 #browseDiv a:hover{background:#b7acac;border-radius:5px;}
 
 #browserButtons{clear:both;}
 .sortPlaceholder{height:40px;background:#FFFFFF !important;}