@charset "utf-8";
body{margin: 0px; padding: 0px; font-family: tahoma; font-size: 12px; line-height: 18px;color:#666666;}

a{ color:#666666;font-family:tahoma; }
#container{padding:0px;margin:0px;margin:0px auto;}
