#cashier-box #button_box{
	width:1000px;float:left;margin:0px auto;border:1px #0000000 solid;
	padding:10px 10px 50px 50px;
}
#cashier-box #button_box h2{
	margin:0px;
	text-transform:uppercase;
	font-size:24px;
}

#cashier-box #button_box h3{
	margin:0px;
}

#cashier-footer{
	clear:both;
	text-align:Center;
}

#cashier-box #button_box button {
	height:120px;font-color:#000000;
	font-size:20px;cursor:pointer;width:400px;
}
#cashier-box #button_box p {
	font-size: 18px;
    margin-bottom: 10px;
    text-indent: 0px;
	text-align:left;
	font-weight:bold;
}
#cashier-box #button_box #counter{
	font-size:200px;
	height:100px;
	width:500px;
	float:left;
	margin-top:70px;
	display:block;
	text-align:left;
	text-indent:10px;
	color:#272721;
	
}

#cashier-box #button_box #counter span{
	display:block;
	height:200px;	
}

#cashier-box #button_box #buzz_button{
	width:300px;
	float:left;
	clear:right;
	padding-top:20px;
}

#cashier-box #button_box #buzz_button input[type=button]{
	height:60px;
	display:block;
	cursor:pointer;
	margin-top:5px;
	font-weight:normal;
	font-size:18px;
}

#cashier-box #navigation_box {
	width:300px;
	float:left;
	height:100%;
	padding-top:50px;
}

#cashier-box #navigation_box ul{margin:0px;padding:0px}
#cashier-box #navigation_box ul li{padding:0px;list-style:none;padding:5px;margin-top:5px}
#cashier-box #navigation_box ul li a {
	border:1px #000000 solid;
	padding:10px 10px 30px 100px;
	display:block;
	text-decoration:none;color:#00000;
	background:#DADADA;
}

#cashier-box #navigation_box ul li a:hover{
	background:#b7acac;
	color:#FFFFFF;
}

#buzz_button{display:none;}

#change-button {
	background: #cfcfcf;
  background-image: -webkit-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -moz-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -ms-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: -o-linear-gradient(top, #cfcfcf, #cccccc);
  background-image: linear-gradient(to bottom, #cfcfcf, #cccccc);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  font-weight:normal;
}

#change-button:hover{
		background: #FAFAFA;
  background-image: -webkit-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -moz-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -ms-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: -o-linear-gradient(top, #cccccc, #b7b7b7);
  background-image: linear-gradient(to bottom, #cccccc, #b7b7b7);
  text-decoration: none;
}

