
/*IMAGE SIZES
#big_center #image_div img{max-width:700px;max-height:500px;}
*/
/*video player height
#big_center #video_div video{width:800px;height:600px;}
*/

#container {padding:0px;cursor:pointer;}
#container #monitor {max-width:1080px;margin:0px auto;padding-top:10px;}
#big_center {height:650px;float:left;position:relative;}
#big_center{padding:0px 0px 0px 30px;}
#big_center #video_ads{margin:0px auto;}
#big_center #image_div {text-align:center;height:550px;padding-top:10px;}
#big_center #marquee_add {height:20%;min-height:20px;}

#big_center h2 {text-align:center;}

#small_right {width:200px;float:left;clear:right;padding-left:10px;text-align:Center;}

.marquee {
	animation: 50s linear 0s normal none infinite running marquee;
	 -webkit-animation: 50s linear 0s normal none infinite running marquee; /* Chrome, Safari, Opera */ 
    box-sizing: border-box;
    font-size: 38px;
    height: 50px;
    margin: 10px auto 0;
    overflow: hidden;
    padding-top: 5px;
    white-space: nowrap;
    width: 800px;
}

.marquee  span{
    display:block;
	display:inline;
	margin-left:5px;
}


/* Chrome, Safari, Opera */ 
@-webkit-keyframes marquee  {
    0%   { text-indent: 600px }
    100% { text-indent: -400%; }
} 


@keyframes marquee {
    0%   { text-indent: 600px }
    100% { text-indent: -400%; }
}

#currentNumber{
	display: block;
    font-size: 200px;
    text-align: center;
}

#currentNumber span{
    display: block;
    height: 140px;
    padding-top: 100px;
    width: 300px;
}

#currentNumber span:nth-child(2){
	border-top:20px #c85051 solid;
}
