<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Que</title>
	<?php echo $headinclude;?>
	<!-- custom headers here  -->
	<link rel="stylesheet" type="text/css" media="screen" href="<?php echo THEME_ADDR;?>css/main.css" />
</head>
<body topmargin="0">
	<div id="container"><?php echo $body;?></div>
</body>
</html>