<div id="front-desk">
	<P>HI USER PLEASE SELECT WHICH COUNTER YOU ARE IN. </p>
	<div id="tbl-options">
		<?php foreach($counters as $counter){ ;?>
			<a href="<?php echo $this->link_name("counter","sit",$counter['counter_id']);?> "><?php echo $counter['counter_name'];?></a>
		<?php } ?>
	</div>
</div>