<html>
<head>
	<meta http-equiv="Cache-Control" content="max-age=1800"/>
</head>
<body>
	<form method="post" name="frmeEditUser" id="frmEditUser">
	<table cellpadding="3" cellspacing="0" width="100%">
		<tr>
			<td>Counter Name</td>
			<td><input type="text" name="name" id="edit_counter_name" size="30"></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><input type="text" name="desc" id="edit_counter_description" size="30"></td>
		</tr>
		<tr>
			<td>Code</td>
			<td><input type="text" name="code" id="edit_counter_code" size="30"></td>
		</tr>
		<tr>
			<td>Start Number</td>
			<td><input type="text" name="startnum" id="edit_counter_start" size="30"></td>
		</tr>
		<tr>
			<td>End Number</td>
			<td><input type="text" name="endnum" id="edit_counter_end" size="30"></td>
		</tr>		
	</table>
	
	<p align="right"><input type="submit" name="btnSubmit" class="buttons" value="Update"></p>
	<input type="hidden" name="edit_data_id" id="edit_data_id">
	</form>
</body>
</html>