<div id="cashier-box">
	<div id="button_box">
		<?php if($counter_id) { ?>
		<h2><?php echo $title;?></h2>
		<h3><?php echo $subtitle;?></h3>
		
		<p>Customer No#</p>
		<div id="counter"><span><?php echo $code.$count;?></span></div>	
		<div id="buzz_button">
			<input type="button" id="next" value="NEXT CUSTOMER" class="button" />
			<input type="button" id="priority" value="PRIORITY CUSTOMER"  class="button" />
			<input type="button" id="buzz" value="BUZZ AGAIN"  class="button" />
		</div>
		<div id="check_button">
			<input type="button" id="check" value="CHECK AD PAGE" class="button" />
		</div>
		<?php }else { ?>
		<h1>You are not assigned with a Counter, please see an administrator</h1>
		<?php } ?>
	</div>	
</div>
<div id="cashier-footer">;</div>