<div id="monitor" >
	<div id="big_center">
		<h2 id="ad_title"></h2>
		<div id="video_div">
			<video id="video_ads" height="<?php echo $videoPlayerHeight;?>px" width= "<?php echo $videoPlayerWidth;?>px">
			  Your browser does not support the video tag.
			</video>
		</div>
		<div id="image_div"><img src="" id="image_ads" style="max-width:<?php echo $imageWidth;?>px;max-height:<?php echo $imageHeight;?>px" /></div>
		<p class="marquee"></p>
	</div>
	<div id="small_right">	
		<h1>Now Serving</h1>
		<div id="currentNumber"></div>		
	   <audio id="buzzer" >
			Your browser does not support HTML5 audio.
		</audio>
		<!-- <input type="button" value="NEXT MEDIA" onclick = "adLoop();"> -->
	</div>

</div>