<div id="welcome-box">
	<div id="welcome_greeting"><h2>WELCOME BACK, <?php echo strtoupper($profile['fullname']);?></h2></div>
	<div id="left-box">
		<div><a href="<?php echo $this->link_name("users","");?>">Users</a></div>
		<div><a href="<?php echo $this->link_name("Ads","");?>">My Ads</a></div>
		<div><a href="<?php echo $this->link_name("mods","");?>">Mods</a></div>
		<div><a href="<?php echo $this->link_name("settings","");?>">Admin Settings</a></div>
		<div>current Ad: <a href="#preview">The Man in the Moon (Movie by Mario)</a> Next Ad in : 30 Secs</div>
	</div>
	<div id="right-box">
		<ul>
			<li>Cashier 1 : Mariano [End Session] [ENABLED]</li>
			<li>Cashier 2 : Mariana [End Session] [ENABLED]</li>
			<li>Cashier 3 : Maria [End Session] [ENABLED]</li>
		</ul>
		<a href="#">Add Counter</a>
	</div>
	
	<div></div>
	
</div>